header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background: transparent;
  border: none;
  box-shadow: none;
  position: fixed;
  /* Or use fixed if you want it to stay on scroll */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

}